<div class="row" style="background-color: hotpink;border-bottom:3px black solid;">
    <div class="col-lg-3" style="border-left:3px white solid" data-story-column>
        
    </div>  
    <div class="col-lg-3" style="border-left:3px white solid"  id="sortableNotStarted" class="connectedSortable" data-planning-column>   
        
    </div> 
    <div class="col-lg-3" id="sortableInProgress" class="connectedSortable" style="border-left:3px white solid" data-in-progress-column>
      
    </div>
    <div class="col-lg-3"id="sortableDone" class="connectedSortable" style="border-left:3px white solid" data-done-column>
    </div>            
</div>