<div class="panel panel-full-color panel-full-color-grey" style="margin-top: 10px;">
    <div class="panel-heading panel-heading-divider">
        <div class="tools"></div><span class="title">Default Full Panel</span><span class="panel-subtitle">Panel subtitle description</span>
    </div>
    <div class="panel-body">
        <p> Quisque gravida aliquam diam at cursus, quisque laoreet ac lectus a rhoncusac tempus odio. </p>
        <p>Aliquam posuere volutpat turpis, ut euimod diam pellentesque at. Sed sit amet nulla a dui dignisim euismod. Morbi luctus elementum dictum. Donec convallis mattis elit id varius. Quisque facilisis sapien quis mauris,, erat condimentum.</p>
    </div>
</div>